<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<nav th:replace="fragments :: page-header"></nav>
<body class = "container" style="padding-top: 50px">

<a href="/rentals/all"> Back to all equipment</a>

<h1 th:text="${title}">Default Title</h1>


<nav th:replace="fragments :: main-navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${equipment}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="type">Select a Category</label>
        <select name="categoryId">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
        <a href="/category/add"><i> or, </i>add one.</a>
    </div>
    <div class="form-group">
        <label th:for="quantity">How many?</label>
        <input class="form-control" th:field="*{quantity}" />
        <span th:errors="*{quantity}" class="error"></span>
    </div>

    <input type="submit" value="Add Equipment" />
</form>



</body>
</html>