<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<p th:unless="${equipment} and ${equipment.size()}">No equipment available :(</p>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Available?</th>
    </tr>

    <tr th:each="item : ${equipment}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.category}"></td>
        <td th:text="${item.available?}"></td>
    </tr>

</table>

</body>
</html>