<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: page-header"></nav>
<body class = "container" style="padding-top: 50px">
<h1 th:text="${title}">Default Title</h1>

<h3><b>Your Rentals:</b></h3>

<table class="table">

<tr>
    <th>Item Name</th>
    <th>Category</th>
</tr>

<tr th:each="item : ${rentals}">
    <td th:text="${item.name}"></td>
    <td th:text="${item.category.name}"></td>
</tr>
</table>

<p th:unless="${rentals.size()}">You haven't rented anything yet :(</p>

<p th:unless="${rentals.size()}"><a th:href="'/rentals/rent-item/user=' + ${userId}">Rent something!</a></p>

<p th:if="${rentals.size()}"><a th:href="'/rentals/rent-item/user=' + ${userId}">Rent something else!</a></p>

<p><a th:href="'/rentals/all'">View the catalog.</a></p>


</body>
</html>