<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: page-header"></nav>
<body class = "container" style="padding-top: 50px">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: main-navigation"></nav>

<ul>
    <li th:each="item : ${rentals}" th:text="${item.name}"></li>
</ul>

<p th:unless="${rentals.size()}">You have no current rentals!</p>

<a th:href="'/rentals/rent-item/user=' + ${userId}">Rent something!</a>


</body>
</html>