<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: page-header"></nav>
<body class = "container" style="padding-top: 50px">
<h1 th:text="${title}">Default Title</h1>

<table class="table">

    <tr>
        <th>Item Name</th>
        <th>Available?</th>
    </tr>

    <tr th:each="item : ${equipment}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.quantity}"></td>
    </tr>
</table>

<p th:unless="${equipment.size()}">There's nothing in this category.</p>

<p th:unless="${equipment.size()}"><a th:href="'/rentals/add'">Add something to it!</a></p>

</body>
</html>